<footer class="bg-light ">
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0 ">
                <strong><img src="assets/images/logo.jpg" width="100"
                        height="auto"></strong>
            </div>
            <div class="col-lg-8 col-md-12 mb-4 mb-md-0">
                Copyright © 2010-2023
                <a  href="https://amplelogic.com/">Amplelogic &nbsp;</a>|
                All Rights Reserved.
            </div>
        </div>
    </div>
</footer>